<% unless organisation_signed_in? %>
	<p><%= link_to_rpx "Login / Signup", organisation_session_url %> <span class="hide">(<%= link_to "retro sign in", new_organisation_session_url %> or <%= link_to "create an account", new_organisation_registration_url %>)</span></p>
<% else %>
	<p><span class="hide">Signed in as: </span><strong><%= current_organisation.email %></strong><br />
	<%= link_to "Sign out?", destroy_organisation_session_url %></p>
<% end %>
