<%
#= week 
#disable week heading for now
%>
<li id="event-<%= event.id %>" class="event grid24col clearboth">
	<span class="title left grid11col">
		<h3 title="Show more info">
			<%= event.title %>
		</h3>
	</span>	

	<ul class="subtle grid9col byline left">
		<li class="grid3col left">
			<% unless event.topics.empty? %>
				<a href="?topic=<%= event.topics.first.name %>" title="Find more events tagged with '<%= event.topics.first.name %>'" class="tag taglink"><%= event.topics.first.name %></a>
			<% else %>
				&nbsp;
			<% end %>
		</li>
		<li class="grid3col left">
			<% unless event.types.empty? %>
				<a href="?topic=<%= event.types.first.name %>" title="Find more events tagged with '<%= event.types.first.name %>'" class="tag taglink"><%= event.types.first.name %></a>
			<% else %>
				&nbsp;
			<% end %>
		</li>
		<li class="grid3col left">
			<% if event.organisation %>
				<a href="?organiser=<%= event.organisation.id %>" title="Find more events organised by '<%= event.organisation.name %>'" class="taglink"><%= event.organisation.name %></a>
			<% else %>
				&nbsp;
			<% end %>
		</li>
	</ul>

	<!-- date -->
	<span class="grid3col right marginleft  subtle">
		<strong><%= event.start_date.bd_date_format %></strong><br />
		London
	</span>
	
	<!-- quick preview -->
	<div class="preview">

	  <div class="description" style="width: 500px;">
		<h4>Event description</h4>
		<%= event.description %>
	  </div>

	  <div class="others" style="float: right;">
		  <h4>Start time</h4>	
		  <p><strong><%= event.start_date.full_date_format %></strong></p>

		  <h4>Address</h4>	
		  <p><%= event.location.strip %> (<%= map_link(event.location) %>)</p>

	      <div class="organiser-description">
			<% if event.organisation %>
	        	<%= event.organisation.description %>
			<% else %>
				We're waiting for a description for this organiser.
			<% end %>
	      </div>


	      <dl class="organiser-details">
		  	<% unless event.telephone.blank? and event.email.blank? %>
			<h4>Contact details</h4>
			<% end %>

			<% unless event.telephone.blank? %>
	        <dt>Telephone:</dt>
	        <dd><%= event.telephone %></dd>
			<% end %>

			<% unless event.email.blank? %>
	        <dt>Email:</dt>
	        <dd><%= event.email %></dd>
			<% end %>
	      </dl>
	  </div>
  </div>
	
</li>
