<% if events && @q %>
	<h3 class="list-hd">Found <%= events.length %> events for "<%= @q %>"</h3>
<% else %>
	<h3 class="list-hd">Upcoming events in london</h3>
<% end %>

<div id="wrap" class="events">
  <% unless events.empty? %>
    <ul class="events-list">
		<% events.each do |event| %>
			<%= debug event %>
			<%= render :partial => 'events/event', :locals => { :event => event } unless event.blank? %>
		<% end %>
  	</ul>
  <% else %>
  	<p class="info">Oops, couldn't find any events. Try being less specific about the type of event.</p>
  <% end %>
</div>	
<%= will_paginate events %>
