<div class="events">
	<% if searched_with_keywords? %>
		<h1 class="list-hd">Found <%= events.length %> events for keywords "<%= @q %>"</h1>
	<% elsif searched_with_tags? %>
		<!-- filter list heading -->
		<h1 class="list-hd">
			<%= verbalise_filters events %>
			<% unless SearchFilter.filter_index[:event_filter].current_filters.length == 0 %>
			  <span class='hint'>(<%= link_to "View all events", events_path %>)</span>  
			<% end %>
		</h1>
	<% else %>
		<h1 class="list-hd">Upcoming events in london</h1>
	<% end %>

  <% unless events.empty? %>
    <ul class="events-list">
		<% events.each do |event| %>
			<%= render :partial => 'events/event', :locals => { :event => event } unless event.blank? %>
		<% end %>
  	</ul>
  <% else %>
  	<div class="page-message">
  		<a href="http://www.flickr.com/photos/ericbvd/4324724233/" title="View photo @ Flickr.com">
			<img src="http://farm5.static.flickr.com/4042/4324724233_df6f858e60.jpg" alt="Photo of empty theatre by Eric Broder Van Dyke">
		</a>
		<p>Sorry, we couldn't find any events for your query! Try broadening your search.</p>
  	</div> 
  <% end %>
</div>	
<%= will_paginate events %>

<%= render :partial => "organisations/claim_banner" %>
