<li id="event-<%= event.id %>" class="event grid24col clearboth">
	<span class="star grid1col left">
		<% if person_signed_in? and event.starred?(current_person) %>
			<%= render :partial => "events/link_unstar", :locals => { :event => event } %>
		<% else %>
			<%= render :partial => "events/link_star", :locals => { :event => event } %>
		<% end %>
	</span>
	
	<!-- title -->
	<h3 class="grid9col left marginleft title" title="Show more info">
		<%= event.title %>
		<%
		#= link_to event.title, event_path(event) 
		%>
	</h3>
	
	<!-- tags -->
	<div class="grid7col left">
		<ul class="tags" style="background-color: red;">
			<% event.combined_tags.each_pair do |type, tag_set| %>
				<% tag_set.each do |tag| %>
					<li class="left">
					  <%= link_to tag.name, filter_path(type => tag.name), {:class => (type == event.combined_tags.keys.first ? 'primary-tag' : nil), :title => "Find more events tagged with '#{tag.name}'"} %>
					</li>
				<% end %>
			<% end %>
		</ul>
		<br class="clearboth" />
	</div>
	
	<!-- organiser -->
	<span class="grid1col left marginleft">
		<% 
		#if person_signed_in? and event.starred?(current_person) 
		%>
			<%
			#= render :partial => "organisations/link_unstar", :locals => { :org => event.organisation } 
			%>
		<% 
		#else 
		%>
			<%= 
			#render :partial => "organisations/link_star", :locals => { :org => event.organisation } 
			%>
		<% 
		#end 
		%>
	</span>
	
	<!-- organisation -->
	<span class="grid2col left marginleft small">
		<% if event.organisation %>
			<%= link_to event.organisation.name, filter_path(:organisation => event.organisation.id) %>
		<% end %>
	</span>
	
	<!-- date -->
	<span class="grid2col left marginleft small subtle">
		<% if event.start_date %>
			<strong><%= event.start_date.bd_date_format %></strong><br />
		<% end %>
		London
	</span>
	
	<!-- actions -->
	<div class="grid2col left marginleft">
		<a class="small-b attend-b light-orange awesome grid2col" title="Visit event website and book ticket(s)" href="<%= event.url %>">Attend</a>
		<a id="share-<%= event.id %>" class="small-b share-b white awesome grid2col" href="<%= event_path(event) %>" title="Share '<%= event.title %>'">Share</a>
				
		<script>
		$('#share-<%= event.id %>').click(function(event) {
			RPXNOW.loadAndRun(['Social'], function () {
		    	var activity = new RPXNOW.Social.Activity(
		       		"Share your comment",
		       		"<%= event.title %> (via thebusinessdiary.co.uk)",
		       		"<%= event_url(event) %>"
				);
		    	RPXNOW.Social.publishActivity(activity);
		  	});
			return false;
		});
		</script>
	</div>
	<br class="clearboth" />
	
	<!-- quick preview -->
	<div class="preview">
	  
	  <div class="description">
		<h4>Event description</h4>
		<%= event.description %>
	  </div>
	  
	  <div class="comments" id="comments-<%= event.id %>">
	  </div>

	  <div class="others" style="float: right;">
		  <% if event.start_date %>
			<h4>Start time</h4>	
		  	<p><strong><%= event.start_date.full_date_format %></strong></p>
		  <% end %>
		
		  <h4>Address</h4>	
		  <p><%= event.location.strip %> (<%= map_link(event.location) %>)</p>
		
		  <h4>Contact details</h4>
	      <div class="organiser-description">
			<% if event.organisation %>
	        	<%= event.organisation.description %>
			<% else %>
				We're waiting for a description for this organiser.
			<% end %>
	      </div>
	      <dl class="organiser-details">
			<% unless event.telephone.blank? %>
	        <dt>Telephone:</dt>
	        <dd><%= event.telephone %></dd>
			<% end %>

			<% unless event.email.blank? %>
	        <dt>Email:</dt>
	        <dd><%= event.email %></dd>
			<% end %>
	      </dl>
	  </div>
	</div>
	
</li>
