<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>
      The Business Diary
    </title>
	<% 
	stylesheets = ['yui/yui', 'application']
	stylesheets << 'admin' if admin_signed_in?
    %>
	<%= stylesheet_link_tag stylesheets %>
	<%= javascript_include_tag 'jquery-1.4.1-min', 'rails' %>
 	<%
	#= csrf_meta_tag 
	%>
	<%= yield :head %>
  </head>
  <body>
    <div id="doc3" class="yui-t7">
    
      <div id="masthead" role="banner">
        <h1>
          <a id="go-home" href="/" title="Back to the homepage" name="go-home">
            <img class="logo" alt="The Business Diary" src="/images/logo1.png">
          </a>
        </h1>

		<%= render :partial => "layouts/auth_person" %>
      </div>
          
      <div id="bd" role="main">
          <!-- <div class="yui-g">
              <div id="catfish">
                  Float bar test
              </div>
          </div> -->
        <div class="yui-g">
          <div id="messages">
		
            <% if flash[:error] -%>
            <p class='error'>
              <%=h flash[:error] %>
            </p>
            <% end -%>
            
            <% if flash[:success] -%>
            <p class='success'>
              <%=h flash[:success] %>
            </p>
            <% end -%>
            
            <% if flash[:info] -%>
            <p class='info'>
              <%=h flash[:info] %>
            </p>
            <% end -%>
          </div>
          
          <%= yield %>
        </div>
      </div>
      
      <div id="ft" role="contentinfo">
        <!-- no footer content yet -->
      </div>
    </div>

    <%= render :partial => 'layouts/uservoice' %>
    <%= render :partial => 'layouts/google_analytics' %>
    <%= javascript_include_rpx(person_session_url) %>
  </body>
</html>